/*
    https://type-scale.com/
    SPACING SYSTEM
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

    FONT SIZING SYSTEM
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 96
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Bebas Neue, sans-serif;
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
}

/* Targets the loader div*/
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

/* Targets the img in the loader div */
.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* This accounts for centering in the page b/c of not completely centering with top and left*/
}

/* Image Container */
.image-container {
    margin: 10px 30%;
}

.image-container img {
    margin-top: 5px;
    width: 100%;
}

/* Media Query - Larger SmartPhone */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    .image-container {
        margin: 10px;
    }
}